@font-face {
    font-family: 'GenShinGothic P Heavy';
    src: url('../fonts/GenShinGothic-P-Heavy.ttf') format('truetype');
    font-display: fallback;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'GenShinGothic P Heavy', sans-serif;
    text-shadow: #00000080 0 0 0.1em, #00000080 0 0 0.2em, #00000080 0 0 0.3em,
        #00000080 0 0 0.4em, #00000080 0 0 0.5em;
}

div {
    display: flex;
    overflow: visible;
    white-space: nowrap;
}

.main {
    position: absolute;
    width: 100%;
    height: 64px;
}

.border {
    z-index: 0;
    background-color: #ffffff;
}

.background {
    z-index: 1;
}

.player1 {
    clip-path: polygon(
        calc(0% + 2px) calc(0% + 2px),
        calc(100% - 260px - 1px) calc(0% + 2px),
        calc(100% - 280px - 1px) calc(50% - 1px),
        calc(280px - 1px) calc(50% - 1px),
        calc(260px - 1px) calc(100% - 2px),
        calc(0% + 2px) calc(100% - 2px)
    );
}

#player1-background {
    background: linear-gradient(330deg, #0d47a1, #0d47a1, #0d47a1, #000000);
}

.player2 {
    clip-path: polygon(
        calc(100% - 260px + 1px) calc(0% + 2px),
        calc(100% - 280px + 1px) calc(50% + 1px),
        calc(280px + 1px) calc(50% + 1px),
        calc(260px + 1px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(0% + 2px)
    );
}

#player2-background {
    background: linear-gradient(150deg, #b71c1c, #b71c1c, #b71c1c, #000000);
}

#text {
    z-index: 2;
}

.vertical {
    flex-direction: column;
}

.player-area {
    width: 200px;
}

.player1-area-inner {
    transform-origin: right;
}

.player2-area-inner {
    transform-origin: left;
}

.note-area {
    height: 20px;
    margin: 4px 0px;
    font-size: 16px;
}

.name-area {
    margin: -8px 0px;
    font-size: 28px;
}

.wins-count-area {
    width: 80px;
    font-size: 40px;
}

.wins-area-outer {
    width: 100%;
}

.wins-area {
    height: 32px;
}

.wins {
    max-width: 32px;
    font-size: 22px;
    color: #fff9c4;
    text-shadow: #bc5100 0 0 0.1em, #bc5100 0 0 0.2em, #bc5100 0 0 0.3em,
        #bc5100 0 0 0.4em, #bc5100 0 0 0.5em;
}

.text-left,
.text-center,
.text-right {
    align-items: center;
}

.text-left {
    justify-content: flex-start;
}

.text-center {
    justify-content: center;
}

.text-right {
    justify-content: flex-end;
}

#message {
    z-index: 3;
    font-size: 16px;
    text-align: center;
}

.error {
    color: #fff9c4;
    text-shadow: #bc5100 0 0 0.1em, #bc5100 0 0 0.2em, #bc5100 0 0 0.3em,
        #bc5100 0 0 0.4em, #bc5100 0 0 0.5em;
}

@media screen and (max-height: 63px) {
    body {
        height: 96px;
    }

    .main {
        height: 48px;
    }

    .note-area {
        height: 14px;
        font-size: 12px;
    }

    .name-area {
        margin: -10px 0px;
        font-size: 24px;
    }

    .wins-area {
        height: 24px;
    }

    .wins {
        font-size: 18px;
    }
}
