@font-face {
    font-family: "GenShinGothic P Heavy";
    src: url("../fonts/GenShinGothic-P-Heavy.ttf") format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: "GenShinGothic P Heavy", sans-serif;
    text-shadow: #00000080 0 0 0.1em, #00000080 0 0 0.2em, #00000080 0 0 0.3em, #00000080 0 0 0.4em, #00000080 0 0 0.5em;
}

div {
    display: flex;
    overflow: visible;
    white-space: nowrap;
}

.main {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
}

.background {
    position: absolute;
    z-index: 0;
}

#main {
    z-index: 1;
}

#player1-background {
    clip-path: polygon(0px 0px, calc(100% - 260px) 0px, calc(100% - 280px) 32px, 280px 32px, 260px 64px, 0px 64px);
}

#player2-background {
    clip-path: polygon(calc(100% - 260px) 0px, calc(100% - 280px) 32px, 280px 32px, 260px 64px, 100% 64px, 100% 0px);
}

.vertical {
    flex-direction: column;
}

.player1 {
    background: linear-gradient(330deg, #0d47a1, #0d47a1, #0d47a1, #000000);
}

.player2 {
    background: linear-gradient(150deg, #b71c1c, #b71c1c, #b71c1c, #000000);
}

.player-area {
    width: 200px;
}

.player1-area-inner {
    transform-origin: right;
}

.player2-area-inner {
    transform-origin: left;
}

.note-area {
    height: 20px;
    padding: 2px 0px;
    font-size: 16px;
}

.name-area {
    height: 100%;
    padding: 2px 0px;
    font-size: 28px;
}

.wins-count-area {
    width: 80px;
    height: 64px;
    font-size: 40px;
}

.wins-area-outer {
    width: 100%;
}

.wins-area {
    height: 32px;
}

.wins {
    max-width: 32px;
    font-size: 22px;
    color: #fff9c4;
    text-shadow: #bc5100 0 0 0.1em, #bc5100 0 0 0.2em, #bc5100 0 0 0.3em, #bc5100 0 0 0.4em, #bc5100 0 0 0.5em;
}

.text-left,
.text-center,
.text-right {
    align-items: center;
}

.text-left {
    justify-content: flex-start;
}

.text-center {
    justify-content: center;
}

.text-right {
    justify-content: flex-end;
}

@media screen and (max-height: 63px) {
    body {
        height: 96px;
    }
    .background {
        height: 48px;
    }
    #player1-background {
        clip-path: polygon(0px 0px, calc(100% - 260px) 0px, calc(100% - 280px) 24px, 280px 24px, 260px 48px, 0px 48px);
    }
    #player2-background {
        clip-path: polygon(calc(100% - 260px) 0px, calc(100% - 280px) 24px, 280px 24px, 260px 48px, 100% 48px, 100% 0px);
    }
    .note-area {
        height: 14px;
        font-size: 14px;
    }
    .name-area {
        height: 24px;
        font-size: 24px;
    }
    .wins-count-area {
        height: 48px;
    }
    .wins-area {
        height: 24px;
    }
    .wins {
        font-size: 20px;
    }
}

#error {
    display: none;
    z-index: 2;
    font-size: 16px;
    color: #fff9c4;
    text-shadow: #bc5100 0 0 0.1em, #bc5100 0 0 0.2em, #bc5100 0 0 0.3em, #bc5100 0 0 0.4em, #bc5100 0 0 0.5em;
    text-align: center;
}